%h1 Drawing complete

%a{href: "/randomize/#{(1..10000).to_a.sample}"}
  DRAW AGAIN

%ul
  - @player_teams.each do |player_team|
    %li
      %h3= player_team[:player]
      %ul
        %li= player_team[:al_team]
        %li= player_team[:nl_team]
